name: publish

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install uv
              run: curl -LsSf https://astral.sh/uv/install.sh | sh

            - name: Build distributions
              run: uv build

            - name: Publish to PyPI
              env:
                  UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
              run: uv publish --token $UV_PUBLISH_TOKEN
